@import '../../ui/colors';
@import '../../ui/breakpoints';

.faq {
  min-height: 100vh;
  width: 100%;
  background: $bluebackground;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 90px 25px 25px 25px;
  text-align: center;

  h2 {
    font-weight: 500;
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 500;

    @include md {
      font-size: 1.4rem;
    }
  }

  p {
    font-size: 1.3rem;
  }
}
