@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import './ui/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $bluehover;
  // border-radius: 10px;
}
