@import '../../ui/colors';
@import '../../ui/breakpoints';

.dashboard {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  background: $bluebackground;

  h2 {
    font-weight: 500;
    font-size: 2.2rem;
  }

  .charts {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    @include md {
      gap: 3rem;
    }

    .barcharts {
      @include md {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
      }
    }

    .chartDiv {
      width: 550px;

      @include md {
        width: 100%;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: 400;

        @include md {
          margin-bottom: 1rem;
        }
      }
    }

    .piechart {
      width: 550px;

      @include md {
        width: 80%;
      }

      h4 {
        font-size: 1.2rem;
        font-weight: 400;

        @include md {
          margin-bottom: 1rem;
        }
      }

      .piechartdiv {
        height: 50vh;
        width: 100%;
      }
    }
  }
}
