@import '../../ui/colors';
@import '../../ui/breakpoints';

.home {
  min-height: 100vh;
  width: 100%;
  background-color: $bluebackground;
  padding-top: 60px;
  @include md {
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 3.6rem;
      font-weight: bold;
      letter-spacing: 5px;
      text-align: center;
      @include md {
        font-size: 2.5rem;
      }
    }

    h3 {
      color: $bluebackground;
      font-weight: 500;
      font-size: 3rem;
      letter-spacing: 5px;
      margin-bottom: 3rem;
      text-align: center;
      @include md {
        font-size: 1.8rem;
      }
    }

    .buttons {
      @include md {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.button {
  text-decoration: none;
  text-align: center;
  background: $midnightblue;
  margin: 35px 20px;
  padding: 10px 35px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  transition: 0.4s all ease-in-out;

  @include md {
    margin: 15px 0;
    padding: 8px 18px;
    font-size: 1.4rem;
    width: 190px;
  }

  &:hover {
    background: $bluehover;
  }
}
